<nav-bar></nav-bar>

<div class="container">
  <div class="page-header">
    <h1>Search <small>For Your Roommates</small></h1>
  </div>
</div>

<div class="error" data-ng-if="VM.error">
  <p>
    {{VM.error}}
  </p>
</div>

<div class="container">
  <form>
    <input type="text" class="form-control" placeholder="Find By Username" data-ng-model="VM.username">
    <button type="submit" class="btn btn-success" data-ng-click="VM.search()">Search</button>
  </form>
</div>

<div class="roommate" data-ng-if="VM.user">
  <h3>{{VM.user.name}}</h3>
  <p>{{VM.user.username}}</p>
  <button type="submit" class="btn btn-success" data-ng-click="VM.createRoommate()">Send Request</button>
</div>
