<div class="container">
  <div class="page-header">
    <h1>Tyler <small>My Roommates</small></h1>
  </div>
</div>

<div class="container">
  <div class="roommate">
    <h3>Roommate 1 name</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Roomate Owes <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="$">
            <span class="input-group-addon">.00</span>
          </div>
        </li>
        <li>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="For" placeholder="Short Description">
          </div>
        </li>
        <li>
          <button type="submit" class="btn btn-success">Send Request</button>
        </li>
      </ul>
    </div>
    <h1>Balance</h1>
    <div class="balance">
      <h1 class="balance">
        10.00
      </h1>
    </div>
    <h1>Requests</h1>
  </div>
</div>
