<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Roomtrack</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Find Roommates</a></li>
        <li><a href="#">Roommate Requests</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Sign Out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<div class="container">
  <div class="page-header">
    <h1>Tyler <small>My Roommates</small></h1>
  </div>
</div>

<div class="container">
  <div class="roommate">
    <h3>Roommate 1 name</h3>
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Roomate 1 Owes Me <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="$">
            <span class="input-group-addon">.00</span>
          </div>
        </li>
        <li>
          <div class="input-group">
            <input type="text" class="form-control" aria-label="For" placeholder="Short Description">
          </div>
        </li>
        <li>
          <button type="submit" class="btn btn-success">Send Request</button>
        </li>
      </ul>
    </div>
    <h6>Balance</h6>
    <div class="balance">
      <h1 class="balance">
        0.00
      </h1>
    </div>
    <h6>Requests</h6>
    <div class="requests">

    </div>
  </div>
</div>
