<nav-bar></nav-bar>

<div class="container">
  <div class="page-header">
    <h1>{{VM.name}} <small>{{VM.username}}</small></h1>
  </div>
</div>

<div class="container">
  <div data-ng-repeat="roommate in VM.roommates">
    <div class="roommate" data-ng-if="roommate.status === 'active'">
      <h3 style="text-transform:capitalize">{{roommate._id.name}}</h3>
      <div class="btn-group">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Owes Me <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <form>
              <div class="input-group">
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" placeholder="Nearest $ (i.e. 45)" data-ng-model="VM.newRequest.amount">
                <span class="input-group-addon">.00</span>
              </div>

                <input type="text" class="form-control" aria-label="For" placeholder="Short Description" data-ng-model="VM.newRequest.description">

              <button type="submit" class="btn btn-success" data-ng-click="VM.createRequest(roommate._id._id)">Send Request</button>
            </form>
          </li>
        </ul>
      </div>
      <h6>Current Balance</h6>
      <div class="balance">
        <h1 class="balance" data-ng-class="roommate.balance < 0 ? 'balance-neg' : 'balance-pos'">
          {{roommate.balance}}
        </h1>
      </div>
      <h6>Requests From <span style="text-transform:capitalize">{{roommate._id.name}}</span></h6>
      <div class="requests" data-ng-repeat="request in roommate.requests">
        <h5>
          -${{request.amount}}
        </h5>
        <p>
          {{request.description}}
        </p>
        <p class="glyphicon glyphicon-ok" data-ng-click="VM.acceptRequest(roommate._id._id, request._id)"></p>
        <p class="glyphicon glyphicon-remove" data-ng-click="VM.deleteRequest(roommate._id._id, request._id)"></p>
      </div>
    </div>
  </div>
</div>
